header {
    background-color: #0074D9; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style the "ReelRecs" logo */
h2.logo {
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 0;
}

/* Style the search bar and top genres dropdown */
.header-controls {
    display: flex;
    align-items: center;
}

.field.has-addons {
    margin-right: 10px;
}

.select.is-rounded {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing to separate it from the search bar */
}