@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;;
}
.columns {
    border: 2px solid black;
}

/* .hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/ReelRec\ Background.jpg);
    background-size: cover;
    background-position: 0 -725px;
} */


#slider .card-content{
    max-width: 50%;
}
#slider{
    overflow: hidden;
}
@media screen and (max-width: 1023px) {
    #slider .card-content{
        display: none;
    }
    
}
